<div class="container-custom">
  <div class="card-title">BROWSE BY DRESS STYLE</div>

  <!-- الصف الأول: Casual (يسار - أصغر) + Formal (يمين - أكبر) -->
  <div class="row">
    <div class="col-12 casual-col">
      <div class="style-card casual-bg">
        <div class="card-content">
          <div class="category-name">Casual</div>
        </div>
      </div>
    </div>
    <div class="col-12 formal-col">
      <div class="style-card formal-bg">
        <div class="card-content">
          <div class="category-name">Formal</div>
        </div>
      </div>
    </div>
  </div>

  <!-- الصف الثاني: Gym (يسار - أكبر) + Party (يمين - أصغر) -->
  <div class="row">
    <div class="col-12 gym-col">
      <div class="style-card gym-bg">
        <div class="card-content">
          <div class="category-name">Gym</div>
        </div>
      </div>
    </div>
    <div class="col-12 party-col">
      <div class="style-card party-bg">
        <div class="card-content">
          <div class="category-name">Party</div>
        </div>
      </div>
    </div>
  </div>
</div>