<h6>Manage My Account</h6>
<div class="links flex-md-column">

  <a [routerLink]="[accountEditLink]"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }"
     class="link-mav">
    My Profile
  </a>

  @if (isAffiliate) {
    <a [routerLink]="[paymentLink]"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       class="link-mav">
      My Payment Options
    </a>
  }

</div>

@if (isAffiliate) {
  <h6>My Orders</h6>
  <div class="links flex-md-column">
    <a [routerLink]="[ordersLink]"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       class="link-mav">
      My Orders
    </a>
  </div>
}