 <section class="testimonial py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-5 card-title">What Our Clients Say</h2>
            <div class="row">
                <div class="col-md-4 mb-4"*ngFor="let review of reviews">
                    <div class="card">
                        <div class="card-body text-left">
                              <div class="text-warning mb-3">
                                <ng-container *ngFor="let s of getStars(review.rating); let i = index">
                                    <i class="bi bi-star-fill" *ngIf="i + 1 <= review.rating"></i>
                                    <i class="bi bi-star-half" *ngIf="i + 0.5 === review.rating"></i>
                                    <i class="bi bi-star"      *ngIf="i + 1 > review.rating && i + 0.5 !== review.rating"></i>
                                </ng-container>
                            </div>
                            <div class="card-inside-card">
                                {{ review.reviewerName }}
                                <span class="badge">✔</span>
                            </div>
                            <p class="card-text">"{{ review.comment }}"</p>
                          
                        </div>
                    </div>
                </div>
               