<div class="hero cont">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h1 class="hero-title">
          <p>FIND CLOTHES</p>
          <p>THAT MATCHES</p>
          <p>YOUR STYLE</p>
        </h1>

        <p class="hero-description">
          Join our affiliate program and start earning commissions today.
          We offer a wide range of products and services to promote.
        </p>

        <a href="#" class="btn btn-dark btn-lg ">Shop Now</a>
    
      </div>
    </div>
   </div>
</div>
  <div class="brands-bar">
    <div class="brands-container">
      <span>VERSACE</span>
      <span>ZARA</span>
      <span>GUCCI</span>
      <span>PRADA</span>
      <span>Calvin Klein</span>
    </div>
  </div>


