<footer class="site-footer mt-5 ">
  <div class="container my-5 newsletter-box-container">
  <div class="newsletter-box d-flex flex-column flex-md-row align-items-center justify-content-between p-4">
    
    <!-- Left Text -->
    <div class="text-white mb-3 mb-md-0">
      <h2 class="fw-bold mb-0">
        STAY UPTO DATE ABOUT <br> OUR LATEST OFFERS
      </h2>
    </div>

    <!-- Right Form -->
    <div class="newsletter-form d-flex flex-column gap-3">
      <div class="input-group">
        <span class="input-group-text bg-white border-0">
          <i class="bi bi-envelope"></i>
        </span>
        <input type="email" class="form-control border-0" placeholder="Enter your email address">
      </div>

      <button class="btn subscribe-btn">
        Subscribe to Newsletter
      </button>
    </div>

  </div>
</div>
  <div class="footer-container container">

    <!-- 1. Site Name -->
    <div class="footer-section">
      <h3 class="footer-title">SHOP.CO</h3>
      <h6 class="web-discription">We have clothes that suits your style and which you’re proud to wear. From women to men.</h6>
    </div>

    <!-- 2. Support -->
    <div class="footer-section">
      <h4 class="footer-title">Help</h4>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>

    <!-- 3. Account -->
    <div class="footer-section">
      <h4 class="footer-title">Account</h4>
      <ul>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Orders</a></li>
      </ul>
    </div>

    <!-- 4. Quick Links -->
    <div class="footer-section">
      <h4 class="footer-title">Quick Links</h4>
      <ul>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <!-- 5. Download App -->
    <div class="footer-section">
      <h4 class="footer-title">Download App</h4>
      <div class="app-buttons d-flex gap-5">
        <a href="#"><i class="bi bi-apple"></i></a>
        <a href="#"><i class="bi bi-google-play"></i></a>
      </div>
    </div>

  </div>
  <div class="footer-bottom d-flex justify-content-between">
    <p>&copy; 2026 Mattger. All rights reserved.</p>
    <img src="https://www.kindpng.com/picc/m/44-440249_paypal-payment-methods-icons-hd-png-download.png"
    style="width: 150px;height: 40px;"
    alt="" class="img-fluid">
  </div>
</footer>